<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Warp Developement_Contact Us" verbose="1" > 
<listeners>

	<listener class-name="com.warpDevelopement.utilities.Reporting"/>

</listeners>
  <test name="Contact US Test" >
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.warpDevelopment.testCases.ValidatePageTest_WD_TC_00" />
      <class name="com.warpDevelopment.testCases.SubmitCorrectDetails_WD_TC_01" />
      <class name="com.warpDevelopment.testCases.MandatoryFieldsOnly_WD_02" />
      	
    </classes>
  </test>

</suite>